<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" onsubmit="sendMessage(event)">
    Message:
    <input type="text" id="messageText" autocomplete="off"/>
    <button>Send</button>
</form>
<ul id='messages'>
</ul>
<script>
    var ws = new WebSocket("ws://localhost:8000/ws");
    ws.onmessage = function (event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var jdata = JSON.parse(event.data)
        var content = document.createTextNode(jdata.message.id + ". " + jdata.message.message)

        message.appendChild(content)
        messages.appendChild(message)
    };

    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(JSON.stringify({"message": input.value}))
        input.value = ''
        event.preventDefault()
    }
</script>
</body>
</html>